<div class="row pt-2">
  <div class="col-md-6 col-lg-8">
    <lancet-table
      [data]="tableData"
      [selectedId]="selectedPage?.id"
      (change)="onSelect($event)"
      (remove)="markAsRemovedPage($event)"
    ></lancet-table>
  </div>
  <div class="col-md-6 col-lg-4">
    <form [formGroup]="pageForm" (ngSubmit)="addPage()">
      <div class="form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Введите название" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="location">Заголовок</label>
        <input type="text" class="form-control" id="title" placeholder="Введите заголовок" formControlName="title" />
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isSection" formControlName="isSection" (click)="onSectionPropChanged()"/>
        <label class="form-check-label" for="isSection">Раздел главного меню</label>
      </div>
      <input type="hidden" formControlName="id" />
      <hr />
      <div class="btn-group" role="group" aria-label="PageOptions">
        <button type="button" class="btn btn-outline-secondary" [disabled]="selectedPage === null" (click)="onLinkEditorOpen()">
          Добавить ссылки
        </button>
      </div>
      <hr />
      <div class="btn-group" role="group" aria-label="Toolbar">
        <button type="button" class="btn btn-outline-primary" [disabled]="selectedPage === null" (click)="onEditorOpen()">Редактировать</button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="pageForm.invalid || selectedPage">Добавить</button>
        <button type="button" class="btn btn-outline-primary" [disabled]="selectedPage === null" (click)="updatePage()">Сохранить</button>
      </div>
    </form>
  </div>
</div>
<app-page-editor (result)="onEditorClose($event)"></app-page-editor>
<app-link-editor></app-link-editor>
