<div class="container d-flex flex-column align-items-center justify-content-center">
  <div class="row">
    <div class="card col-8 offset-2">
      <div class="card-body d-flex align-items-center justify-content-between">
        <fa-icon icon="thumbs-up" size="2x" class="mr-4"></fa-icon>
        Платёж произведён и будет обработан в ближайщие несколько минут! <br />
        На ваш почтовый ящик указанный при регистрации будет выслано письмо с подтверждением или ссылкой для
        скачивания.
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-primary text-uppercase" [routerLink]="['/catalog']">Вернуться в магазин</button>
    </div>
  </div>
</div>
