<app-modal size="md" header="Форма обратной связи">
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-6">
        <label for="username">Как к вам обращаться?</label>
        <input type="text" formControlName="username" class="form-control" id="username"/>
      </div>

      <div class="form-group col-6">
        <label for="email">Ваш e-mail</label>
        <input type="email" formControlName="email" class="form-control" id="email"/>
      </div>

      <div class="form-group col-12">
        <label for="title">Тема</label>
        <input type="text" formControlName="title" class="form-control" id="title"/>
      </div>

      <div class="form-group col-12">
        <label for="comment">Ваш вопрос</label>
        <textarea class="form-control" formControlName="message" rows="6"> </textarea>
      </div>

      <div class="col-12">
        <button class="btn btn-outline-secondary">
          Отправить
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </div>
    </div>
  </form>
</app-modal>
