@import "./variables.scss";

$colors: ();
$colors: map-merge(
    (
        "blue": $blue-900,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800,
    ),
    $colors
);

$primary-100: $brown-100 !default;
$primary-200: $brown-200 !default;
$primary-300: $brown-300 !default;
$primary-400: $brown-400 !default;
$primary-500: $brown-500 !default;
$primary-600: $brown-600 !default;
$primary-700: $brown-700 !default;
$primary-800: $brown-800 !default;
$primary-900: $brown-900 !default;
$primary: $brown !default;

$danger-100: $red-100 !default;
$danger-200: $red-200 !default;
$danger-300: $red-300 !default;
$danger-400: $red-400 !default;
$danger-500: $red-500 !default;
$danger-600: $red-600 !default;
$danger-700: $red-700 !default;
$danger-800: $red-800 !default;
$danger-900: $red-900 !default;
$danger: $red !default;

$warning-100: $yellow-100 !default;
$warning-200: $yellow-200 !default;
$warning-300: $yellow-300 !default;
$warning-400: $yellow-400 !default;
$warning-500: $yellow-500 !default;
$warning-600: $yellow-600 !default;
$warning-700: $yellow-700 !default;
$warning-800: $yellow-800 !default;
$warning-900: $yellow-900 !default;
$warning: $yellow !default;

$success-100: $green-100 !default;
$success-200: $green-200 !default;
$success-300: $green-300 !default;
$success-400: $green-400 !default;
$success-500: $green-500 !default;
$success-600: $green-600 !default;
$success-700: $green-700 !default;
$success-800: $green-800 !default;
$success-900: $green-900 !default;
$success: $green !default;

$secondary-100: #ecf3f9 !default;
$secondary-200: #dbe7f0 !default;
$secondary-300: #b4c9da !default;
$secondary-400: #8eadc6 !default;
$secondary-500: #5c88ad !default;
$secondary-600: #376d9b !default;
$secondary-700: #054982 !default;
$secondary-800: #043c6c !default;
$secondary-900: #032e56 !default;
$secondary: $blue !default;

$theme-colors: ();
$theme-colors: map-merge(
    (
        "primary-100": $brown-100,
        "primary-200": $brown-200,
        "primary-300": $brown-300,
        "primary-400": $brown-400,
        "primary-500": $brown-500,
        "primary-600": $brown-600,
        "primary-700": $brown-700,
        "primary-800": $brown-800,
        "primary-900": $brown-900,
        "primary": $primary,
        "danger-100": $red-100,
        "danger-200": $red-200,
        "danger-300": $red-300,
        "danger-400": $red-400,
        "danger-500": $red-500,
        "danger-600": $red-600,
        "danger-700": $red-700,
        "danger-800": $red-800,
        "danger-900": $red-900,
        "danger": $red,
        "warning-100": $warning-100,
        "warning-200": $warning-200,
        "warning-300": $warning-300,
        "warning-400": $warning-400,
        "warning-500": $warning-500,
        "warning-600": $warning-600,
        "warning-700": $warning-700,
        "warning-800": $warning-800,
        "warning-900": $warning-900,
        "warning": $yellow-900,
        "success-100": $success-100,
        "success-200": $success-200,
        "success-300": $success-300,
        "success-400": $success-400,
        "success-500": $success-500,
        "success-600": $success-600,
        "success-700": $success-700,
        "success-800": $success-800,
        "success-900": $success-900,
        "success": $success-900,
        "secondary-100": $secondary-100,
        "secondary-200": $secondary-200,
        "secondary-300": $secondary-300,
        "secondary-400": $secondary-400,
        "secondary-500": $secondary-500,
        "secondary-600": $secondary-600,
        "secondary-700": $secondary-700,
        "secondary-800": $secondary-800,
        "secondary-900": $secondary-900,
        "secondary": $secondary,
        "gray-100": $gray-100,
        "gray-200": $gray-200,
        "gray-300": $gray-300,
        "gray-400": $gray-400,
        "gray-500": $gray-500,
        "gray-600": $gray-600,
        "gray-700": $gray-700,
        "gray-800": $gray-800,
        "gray-900": $gray-900,
        "gray": $gray-900,
    ),
    $theme-colors
);

@import "node_modules/bootstrap/scss/bootstrap";

a:hover,
.btn-link:hover {
    color: $red-800;
    text-decoration: none;
}
