<div class="container pt-2">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs text-uppercase font-weight-bold">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#necropolis">Некрополь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#cemeteries">Места захоронения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#counties">Уезды</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pages">Страницы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#users">Пользователи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#catalog">Магазин</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#mail">Сообщения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings">Настройки</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="necropolis">
          <dashboard-person></dashboard-person>
        </div>
        <div class="tab-pane fade" id="cemeteries">
          <dashboard-cemetery></dashboard-cemetery>
        </div>
        <div class="tab-pane fade" id="counties">
          <dashboard-county></dashboard-county>
        </div>
        <div class="tab-pane fade" id="pages">
          <dashboard-pages></dashboard-pages>
        </div>
        <div class="tab-pane fade" id="users">
          <dashboard-users></dashboard-users>
        </div>
        <div class="tab-pane fade" id="catalog">
          <dashboard-catalog></dashboard-catalog>
        </div>
        <div class="tab-pane fade" id="mail">
          <dashboard-mail></dashboard-mail>
        </div>
        <div class="tab-pane fade" id="settings">
          <dashboard-settings></dashboard-settings>
        </div>
      </div>
    </div>
  </div>
</div>
