<div class="container">
  <div class="row">
    <div class="col-2 text-center">
      <div class="btn-group-vertical" role="group" aria-label="Profile menu">
        <button class="btn btn-link" (click)="onLogout()">Выйти</button>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="profile-tab">
          <h2>Данные профиля</h2>
          <ul class="list-group list-group-flush" *ngIf="user">
            <li class="list-group-item">{{ user.lastName }} {{ user.firstName }}</li>
            <li class="list-group-item">Дата регистрации {{ user.startDate | date: 'dd.MM.yyyy' }}</li>
          </ul>
        </div>
        <div class="tab-content">
          <h2>Подписка</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span *ngIf="subscription; else noSubscription"
                >Подписка активирована до {{ subscription.finishDate | date: 'dd.MM.yyyy' }}</span
              >
              <ng-template #noSubscription>
                <span>Подписка не активна</span>
              </ng-template>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <h2>Покупки</h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let purchase of purchases">
              <span>{{ purchase.startDate | date: 'dd.MM.yyyy' }} - {{ purchase.title }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
