//@import "node_modules/modern-css-reset/dist/reset.css";
@import "node_modules/angular-notifier/styles";
@import "./assets/scss/theme.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

html {
    overflow-x: hidden;
}
*,
body {
    font-size: 14px;
}
body {
    overflow-x: hidden;
    background-image: url("./assets/background.png");
}

.ng-select.custom {
    .ng-select-container {
        border: 1px solid #a2a5ad;
        min-width: 15rem;
        height: calc(1.5em + 0.75rem + 2px) !important;
        min-height: calc(1.5em + 0.75rem + 2px) !important;
        color: #5d6270;
        .ng-placeholder {
            color: #5d6270 !important;
        }
    }
    .ng-clear-wrapper .ng-clear {
        font-size: 0;
    }
}

.nav-link {
    font-weight: 400;
}

.noselect {
    * {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }
}

.odometer-container {
    line-height: 60px;
  }
  
  .odometer.odometer-theme-train-station * {
    font-size: 64px;
  }