<div class="container">
  <div class="row">
    <div class="col-12 pl-4">
      <strong class="text-uppercase">Магазин</strong>
      <hr />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 pl-4 text-center">
      <!-- <div class="alert alert-danger" role="alert">
        Магазин находится в режиме отладки. Приобретение продуктов временно недоступно. <br />
        Для получения дополнительной информации вы можете напрямую связаться со мной: <br />
        <a href="mailto:milaashk@mail.ru">milaashk@mail.ru</a>
      </div> -->
      <div class="card-deck mb-3 text-center" *ngIf="products$ | async as list">
        <div class="card mb-4 pt-4 pl-4 pr-4 box-shadow" style="min-width: 18rem" *ngFor="let item of list" (click)="onCardClick(item)">
          <img class="card-img-top" [src]="item.imageUrl" [alt]="item.title" />
          <div class="card-body">
            <strong class="card-title">{{ item.title }}</strong>
            <p class="card-text">{{ item.price | currency }}</p>
          </div>
        </div>
      </div>
      <lancet-paginator [options]="paginatorOptions" (changePage)="onChangePage($event)"></lancet-paginator>
    </div>
  </div>
</div>
<app-purchase></app-purchase>
