<nav aria-label="Page navigation example" *ngIf="options?.count > 0 && options?.count > options?.step">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="onPrevPage()" aria-label="Предыдущая страница">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let page of pages; let i = index" [ngClass]="{ active: i === options.index }">
      <a class="page-link" (click)="onChangePage(i)">{{ i + 1 }}</a>
    </li>

    <li class="page-item">
      <a class="page-link" (click)="onNextPage()" aria-label="Следующая страница">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
