<nav class="navbar navbar-expand-lg navbar-light font-weight-bold text-uppercase">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/logo.png" alt="ГЕНЕАЛОГИЯ" class="logo" />
      </a>
      <a class="nav-item nav-link" [routerLink]="['/necropolis']">Некрополь</a>
      <a class="nav-item nav-link" *ngFor="let section of sections" [routerLink]="['/', section.name, '']">{{ section.title }}</a>
      <a class="nav-item nav-link" [routerLink]="['/catalog']">Магазин</a>
      <a class="nav-item nav-link" [routerLink]="['/dashboard']" *ngIf="adminMode$ | async">Администрирование</a>
      <a class="nav-item nav-link" routerLink="profile" *ngIf="hasAuth$ | async; else login">Личный кабинет</a>
      <ng-template #login>
        <a class="nav-item nav-link" routerLink="login">Вход</a>
      </ng-template>
    </div>
  </div>
</nav>
