<div class="row pt-2">
  <div class="col-md-6 col-lg-8">
    <lancet-table
      [data]="tableData"
      [selectedId]="user?.id"
      (change)="onSelect($event)"
      (remove)="onRemove($event)"
      (restore)="onRestore($event)"
      [showActionButtons]="true"
      [startIndex]="startIndex"
    ></lancet-table>
  </div>

  <div class="col-md-6 col-lg-4">
    <form [formGroup]="userForm">
      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label for="firstName">Имя</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" id="email" formControlName="email" />
      </div>
      <input type="hidden" formControlName="id" />
      <div class="btn-group" role="group" aria-label="Basic example">
        <!-- <button type="button" class="btn btn-primary" [disabled]="hasUserActived" (click)="onBlock()">Заблокировать</button>
        <button type="button" class="btn btn-primary" [disabled]="(user$ | async) == null" (click)="onUpdate()">Изменить</button>
        <button type="reset" class="btn btn-primary" (click)="onReset()">Сброс</button> -->
      </div>
    </form>
  </div>
</div>