<ng-template #content let-modal>
  <div class="card text-center">
    <div class="card-header">
      <div class="row">
        <div class="col-10 text-left">
          <strong class="text-uppercase">{{ item.title }}</strong>
        </div>
        <div class="col-2">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true" (click)="onCloseButtonClick()">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <img class="card-img p-4" [src]="item.imageUrl" alt="{{ item.title }}" />
      <p class="card-text pl-4 pr-4">{{ item.description }}</p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
      <button class="btn btn-outline-primary" (click)="onPayButtonClick()">Приобрести</button>
      <button class="btn btn-outline-primary" (click)="onMessageButtonClick()">Отправить сообщение</button>
    </div>
  </div>
</ng-template>

<app-feedback></app-feedback>
