<div class="container pt-2">
  <div class="row">
    <div class="col-12 pl-4">
      <strong class="text-uppercase">{{ page?.title }}</strong>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-9" [innerHTML]="page?.content"></div>
    <div class="col-3">
      <img src="./../../../assets/pic.jpeg" alt="Фотография">
    </div>
  </div>
  <div class="col-12 text-center pb-4">
    <button class="btn btn-outline-secondary text-uppercase" (click)="onOrderButtonClick()">Заказать генеалогическое исследование</button>
  </div>
</div>

<app-feedback></app-feedback>